@use '../../styles/abstracts/variables' as *;

.mobile-menu {
  display: none;
  width: 40px;
  height: 40px;
  border: 1px solid $color-border;
  border-radius: $radius-sm;
  background: $color-white;

  &__line {
    display: block;
    width: 18px;
    height: 2px;
    margin: 4px auto;
    background: $color-sky-700;
  }
}

@media (max-width: 768px) {
  .mobile-menu {
    display: block;
  }
}
